.stock-form {
    text-align: left;
    width: 100%;
    max-width: 400px;
    position: relative;
    padding-bottom: 15px;
    margin: 0 auto 5px;
}

.stock-form .row,
.form-group {
    margin: 0 !important;
}

.stock-form label {
    width: 100%;
}

.stock-form .react-datepicker-wrapper input {
    padding: 2px 5px 2px 30px;
}

.submit-btn-container {
    text-align: center;
}

.submit-btn {
    margin: 0 auto;
    width: 100%;
    background: #4683b4 !important;
}

.submit-btn:hover:enabled {
    background: #396c96 !important;
}

.submit-btn:disabled {
    cursor: not-allowed;
}

#calendar-icon {
    position: absolute;
    top: 7px;
    left: 22px;
    opacity: 0.5;
    z-index: 2;
}