.stock-list {
    overflow: auto;
    max-height: 70%;
    padding: 0 10px 10px;
}

.list-row {
    text-align: left;
    cursor: default;
    padding: 3px 5px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin: 5px 0;
    transition: box-shadow 0.1s linear;
    overflow: hidden;
    animation: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 slideFromTop;
    width: 100%;
}

.list-row:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}

.list-row:hover .buttons {
    opacity: 1;
    transform: translateX(0);
}

.list-date {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 24px;
    font-weight: 700;
    color: steelblue;
    opacity: 0.4;
}

.list-name {
    text-transform: capitalize;
    font-weight: 700;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-stats {
    display: flex;
    justify-content: space-between;
}

.list-qty,
.list-price {
    margin-right: 5px;
    font-weight: 600;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
}

.list-qty span {
    font-size: 10px;
    font-weight: 300;
}

.buttons {
    display: flex;
    opacity: 0;
    transform: translateX(50px);
    flex-direction: row-reverse;
    transition: all 0.18s linear;
    margin-bottom: 7px;
}

.buttons svg {
    margin: 0 3px;
    opacity: 0.5;
}

.buttons svg:hover {
    cursor: pointer;
    opacity: 1;
}

.modal-btn {
    background: #4683b4 !important;
}

.modal-btn:hover:enabled {
    background: #396c96 !important;
}

.no-results {
    font-size: 18px;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(28, 110, 164, 0);
    text-align: center;
    padding: 80px 0;
    font-style: italic;
    color: #999;
}

.search {
    position: sticky;
    top: 0;
    z-index: 2;
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}