.chart-container {
    margin: 0 20px 15px 10px;
    width: 100%;
}

.chart-container>svg {
    overflow: visible;
}

.chart-title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;
    text-align: left;
    text-transform: capitalize;
}

.tick {
    font-size: 9px;
}

.line {
    shape-rendering: crispEdges;
}

.axis path {
    stroke-width: 1.2;
}

.tool-tip {
    fill: #fff;
    stroke: #000;
}

.tooltip-date, .tooltip-stats{
    fill: black;
    font-weight: 600;
    pointer-events: none;
    font-size: 12px;
}

.tooltip-label{
    font-size: 11px;
    fill: black;
}