.App {
  text-align: center;
}

.stats-container {
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
  background: #4683b4;
}

.stats-container .stats-component {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  height: 105px;
  margin: auto;
}

.viz-container {
  position: relative;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  max-width: 1080px;
  max-height: calc(100vh - 105px);
  margin: 0 auto;
}

.viz-form {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 350px;
}

.viz-charts {
  margin: 15px 0 0 5px;
  flex-grow: 4;
  transition: all 0.25s linear;
}

.collapsed {
  flex-grow: 0.00001;
  width: 0;
  opacity: 0;
}

.card-container {
  background: #fff;
  padding: 15px 50px 50px 35px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.18);
}

.error {
  font-size: 10px;
  color: #d44141;
  margin-bottom: 5px;
}

.error::before {
  content: "*";
}

.react-datepicker-popper {
  z-index: 999 !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-wrapper input {
  width: 100%;
}